Source: maemo-kodi-remote
Section: user/multimedia
Priority: extra
Maintainer: Sander <sander@sanderf.nl>
Build-Depends: debhelper (>= 10),
    qtbase5-dev,
    cmake,
    libx11-dev,
    zlib1g-dev,
    libpng-dev,
    libqt5svg5-dev,
    libqt5maemo5-dev,
    libqt5x11extras5-dev,
    libssl-dev,
    qtquickcontrols2-5-dev,
    qtdeclarative5-dev,
    qtdeclarative5-dev-tools
Homepage: https://github.com/maemo-leste-extras/maemo-kodi-remote
XSBC-Bugtracker: https://github.com/maemo-leste-extras/maemo-kodi-remote/issues
Vcs-Git: https://github.com/maemo-leste-extras/maemo-kodi-remote/
Vcs-Browser: https://github.com/maemo-leste-extras/maemo-kodi-remote/


Package: maemo-kodi-remote
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
    libqt5quickcontrols2-5,
    qml-module-qtquick-controls2,
    qml-module-qtquick2,
    qml-module-qtquick-layouts,
    qml-module-qtquick-controls,
    qml-module-qtquick-extras,
    qml-module-qtquick-dialogs,
    qml-module-qtquick-controls,
    nmap,
    curl
Description: Control Kodi from your Maemo Leste device
XB-Maemo-Display-Name: Kodi Remote
XB-Maemo-Icon-26: iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAEmUlEQVRo3tWZ
 e4hXVRDHP2d9a2S+iohQwQSDMNMiLbIEy5L+sCgQyh6YJqnko6AIIosysjIj
 0TJ6SQWZZiqm9DQlMk0pNWtLe1gUaqmVj1b99Eezcfi56s/d/e3+duByz507
 59yZ+c6ZM+fcRAOR2hm4BOgMVAGrU0obKXdSu6gvqFUeSevUy+oyfkWJle8B
 rAUOAGOBdfFqPzAFeAl4WR1Tjp5vo36tLs54p6mH1CkZb4h6WB1cbgjcAfQE
 dmW8PYAFvF1AAqaXGwIbI84PqLeq56qvBu8XdajaX/0kmxPnl4vyLTOlDkSI
 VNP3Bc/7s/aYkoeQ2kztpfZU01HETo77dKAt0A34Lni3A5ujPSal1BroG+HV
 rpRebabep+7MPParOr4G2Qr1H7VTxru3IIXuKOgzV72plAjMBbYD3YGlwCqg
 F/Cb+nQumFI6DHwMDMjYF8V9Q0zcDupZoXyrQOHDUnl/WHitYzxPUO/P0qXq
 xTX0+Vt9WV0RMiPiXQe1Ut2uzlG/UBeWMnzmhwLvqpMidP5Q71YXxbuZ6upQ
 rFKdpc7LQuZwwZgzsnc71W6lNGBNeGqwukF9TV2mblEHqhPV5er6gjifoi7I
 nq+O8dqpXwZvm9qvpnlUnwYsVTtEe0yWBp/IZGaHMoU0Vx2rrox6aIX6c8hO
 VSerAwq+N1KdVoxuqUgDRseEfQOYBjwD7AMeAe4B+gF7o76pifYCbwOrI1Ue
 iKr0ukgKI4FTgW3AlcBw4NmU0uj6QqBFtmJ+lvEXB++dbC7Uhh6M+8psBZ9d
 jG7Ni4IppSp1CPAcMEy9Lbw6EHgxxG5ujFW/ebGCKaXdwPVqV2BSbEpmAUMj
 vChrAzL6MWr7RBlQBU2cmtex//NR39eWrgE6NggC6hJ1FHB5xl4VNczWSIc7
 Ik02Aw5FavwJ6AFsAi4FPgKuintVjLMO6APcAjwJ/FkKBPqEcmszXutwQstQ
 umWM2SIbv5rXKmSr+7TJ5tFfKaX10a5Ul2XFX90XskDgMWBhVKRfRd859RBC
 nYArUkrLazNArTKJejA8Xl80KKX0QUNO4lFA/3pSfmfMJRoMgQyJVyIE8jAS
 OHyUhJF/70zgvJTSwbroUFcDegMjjhFOZt8onCufppReL8cDrZPUb9U9ce1W
 z2lSq6M6Tt1XvR8o5bdSiQxYGKn2wljMeqeUqppELaQOjM3KvFh93wfGN5XQ
 SbF/vkDtFxv9jupWtUtTQOAGoDKltDrbR/wOPA48VO7ebxPHKd3juZ86M9rN
 4xSidzkjcCfwVkppaw27uYPAZOCpcvV+l4jzUzLe/whkvEXqteVowEx1XAGv
 JgN6qpvV1mUTQmqv2KjMKuJg4BtgSYRb2Xh/kTqsBv4RCAS/fYTb6Y2OgDoI
 aJ9SWnCCxzNTgYfLYdH6vKaD2WMhEO8q4iC4b2MiMALYlFJac8IF2H8/QCYA
 Mxp70ep6DJmjIpDJvKkObwwEJgLzU0o/HGfs41W7dwEPqG0b0vtD48dG++PI
 TVLfK2K8R+PnScuGMmCLuqgIuQq1XRFyN8bGp3dDGXBG9d+aesxmZ9e2/791
 1YOeKae76QAAAABJRU5ErkJggg==
